ion-content {
    --background: linear-gradient(216deg, var(--ion-color-primary), var(--ion-color-primary-tint));
    background-size: 1800% 1800%;
    animation: rainbow 30s linear infinite;
    height: 100vh;
    width: 100vw;
  }
  
  ion-card-header {
    text-align: center !important;
  }

.main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  
  .error-messages {
    font-size: 0.7em;
    color: #dd4b39;
    text-align: center;
  }
  
  .error-messages {
    font-size: 0.7em;
    color: #dd4b39;
    text-align: center;
  }
    