<ion-content class="ion-no-padding">
  <div class="main">
    <ion-card no-margin class="card w-400p-center">
      <ion-card-header>
        <ion-row class="row">
          <div class="aa-logo">
            <img
              src="assets/first-setup/screen-1.jpg"
              class="aa-logo"
              alt="logo"
            />
          </div>
        </ion-row>
      </ion-card-header>
      <ion-card-content>
        <ion-button
          class="button button-block"
          shape="round"
          (click)="addProject()"
        >
          <ion-icon slot="icon-only" name="add"></ion-icon>
          Create Project
        </ion-button>
        <ion-button
          *ngIf="user.projectId"
          class="button button-block"
          shape="round"
          (click)="showProjects()"
        >
          <ion-icon slot="icon-only" name="add"></ion-icon>
          Select Project
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
