<ion-header>
    <ion-toolbar color="primary">
        <ion-title
            class="ion-text-center"
            *ngIf="project"
        >
            Project - {{ project.name }}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <ion-list-header class="font-24 font-w-500 primary-color text-center">Epics</ion-list-header>
    <ion-item *ngFor="let epic of epics">
        <ion-label class="font-22 dark-color text-center">{{ epic.name }}</ion-label>
        <!-- <div class="font-34 font-w-500 primary-color text-center">{{ epic.name }}</div> -->
    </ion-item>
  </ion-list>

    <ion-fab
        vertical="bottom"
        horizontal="center"
        slot="fixed"
    >
        <ion-fab-button
            (click)="addEpic()"
            data-desc="Add Epic"
            size="small"
            color="accent"
        >
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
<ion-footer>
    <ion-row>
        <ion-col
            size="6"
            size-sm="6"
            size-md="6"
            size-lg="6"
            size-xl="6"
        >
            <ion-button
                class="button button-block"
                shape="round"
                fill="outline"
                expand="full"
                color="primary"
                (click)="cancel()"
            >
                Cancel
            </ion-button>
        </ion-col>
        <ion-col
            size="6"
            size-sm="6"
            size-md="6"
            size-lg="6"
            size-xl="6"
        >
            <ion-button
                class="button button-block"
                shape="round"
                expand="full"
                color="primary"
                (click)="onSubmit()"
            >
                Save
            </ion-button>
        </ion-col>
    </ion-row>
</ion-footer>
