ion-content {
    // --background: linear-gradient(216deg, #18d4f4, #18d4f4);
    --background: linear-gradient(216deg, var(--ion-color-primary), var(--ion-color-primary-tint));
    background-size: 1800% 1800%;
    animation: rainbow 30s linear infinite;
    height: 100vh;
    width: 100vw;
  }
  
  ion-card-header {
    text-align: center !important;
    display: flex;
    justify-content: center;
  }

.main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
 
  // .button-color {
  //   background-color: var(--ion-color-mytheme);
  // }
  // .logo {
  //   width: 1em !important;
  // }
  // .grid {
  //   height: 100vh;
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: center;
  // }
  // .row {
  //   display: flex;
  //   flex-direction: row;
  //   justify-content: center;
  // }
  // .img-logo {
  //   height: 250px;
  //   width: 250px;
  // }
  .aa-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    height: 50%;
    width: 50%;
  }
  // .btn-transition {
  //   background: linear-gradient(to right, #FF8166 14%, #FF8166 96%);
  // }
  // .btn-color {
  //   color: var(--ion-color-mytheme);
  // }
  
  .error-messages {
    font-size: 0.7em;
    color: #dd4b39;
    text-align: center;
  }
  
  .error-messages {
    font-size: 0.7em;
    color: #dd4b39;
    text-align: center;
  }
    